.cardCatalog {
  background-color: var(--base-card);
  display: flex;
  flex-direction: column;
  padding: 7rem 1rem 1.5rem 1rem;
  align-items: center;
  border-radius: 6px 36px;
  position: relative;
}
.cardCatalog img {
  position: absolute;
  top: -20px;
  width: 120px;
  height: 120px;
}

.wrapperTags {
  display: flex;
  gap: 0.5rem;
}

.wrapperTags > span {
  background-color: var(--yellow-light);
  color: var(--yellow-dark);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.625rem;
  padding: 0.25rem 0.5rem;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.cardCatalog h3 {
  color: var(--base-subtitle);
  font-family: 'Baloo 2';
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.cardCatalog p {
  color: var(--base-label);
  font-size: 0.875rem;
  text-align: center;
}

.cardCatalog form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.725rem;
}

.cardCatalog form > p {
  font-size: 0.875rem;
  color: var(--base-text);
}
.price {
  font-family: 'Baloo 2';
  font-weight: 800;
  font-size: 1.5rem;
}
.cardCatalog form > div {
  display: flex;
  gap: 0.5rem;
}

.btnCart {
  border: none;
  background-color: var(--purple-dark);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 6px;
  transition: 0.2s;
}

.btnCart:hover {
  background-color: var(--purple);
}

.cardCart + .cardCart {
  padding: 2rem 0;
}

.cardCart {
  display: flex;
  justify-content: space-between;

  padding: 0 0 2rem 0;
  border-bottom: 1px solid var(--base-button);
}

.cardCart h3 {
  font-weight: 400;
  font-size: 1rem;
  color: var(--base-subtitle);
  margin-bottom: 0.5rem;
}

.cardCart > p {
  font-weight: 700;
}

.wrapperActions {
  display: flex;
  gap: 0.5rem;
}

.wrapperActions > button {
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  background-color: var(--base-button);
  padding: 0 0.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.wrapperActions > button:hover {
  background-color: var(--base-hover);
}
