.containerCheckout {
  display: grid;
  grid-template-columns: 1fr 448px;
  column-gap: 2rem;
  align-items: start;
}

.containerCheckout h2 {
  font-family: 'Baloo 2';
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.wrapperResume,
.resumeEmpty,
.containerCheckout form {
  background-color: var(--base-card);
  padding: 2.5rem;
}

.wrapperResume,
.resumeEmpty {
  border-radius: 6px 44px;
  display: flex;
  flex-direction: column;
}

.resumeEmpty {
  margin-top: 3.7rem;
}

.resumeEmpty > h2 {
  text-align: center;
}
.resumeEmpty a {
  text-align: center;
  width: 100%;
  background-color: var(--yellow);
  border-radius: 6px;
  padding: 0.75rem 0.5rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--white);
  transition: 0.2s;
}
.resumeEmpty a:hover {
  background-color: var(--yellow-dark);
}

.wrapperResume footer {
  padding: 2rem 0;
}

.wrapperResume footer div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.wrapperResume footer div p {
  font-size: 0.875rem;
}

.total h4,
.total span {
  color: var(--base-subtile);
  font-size: 1.25rem;
  font-weight: 700;
}

.wrapperResume footer button {
  border: none;
  width: 100%;
  background-color: var(--yellow);
  border-radius: 6px;
  padding: 0.75rem 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  transition: 0.2s;
}

.wrapperResume footer button:hover {
  background-color: var(--yellow-dark);
}
