.footer {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.footer p {
  font-size: 0.875rem;
}

.footer p a {
  color: var(--purple-dark);
  font-weight: 700;
  font-family: 'Baloo 2';
  text-decoration: none;
  transition: 0.2s;
}

.footer p a:hover {
  color: var(--purple);
}
