.banner {
  display: grid;
  grid-template-columns: 588px auto;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 3rem 3rem 0;
}

.banner > div > h1 {
  font-family: 'Baloo 2';
  font-weight: 800;
  font-size: 3rem;
  line-height: 130%;
  color: var(--base-title);
  margin-bottom: 1rem;
}

.banner > div > p {
  font-size: 1.25rem;
  color: var(--base-subtitle);
}

.wrapperItens {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1em;
}

.wrapperItens > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.wrapperItens > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
}
.wrapperItens > div:nth-child(1) > div {
  background-color: var(--yellow-dark);
}
.wrapperItens > div:nth-child(2) > div {
  background-color: var(--base-text);
}
.wrapperItens > div:nth-child(3) > div {
  background-color: var(--yellow);
}
.wrapperItens > div:nth-child(4) > div {
  background-color: var(--purple);
}

.wrapperItens > div > div > svg {
  color: var(--white);
}

@media (max-width: 768px) {
  .banner {
    grid-template-columns: 1fr;
  }
  .banner > img {
    display: none;
  }
  .wrapperItens {
    grid-template-columns: 1fr;
  }
}
